<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"
	media="screen,projection" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<title>Cadastro Pessoa</title>
</head>
<body>
	<form action="salvarpessoa" method="post" th:object="${pessoaobj}">
		
		<input name="id" th:field="*{id}" readonly="readonly" hidden="true">
		<label>Nome</label> 
		<input name="nome" th:field="*{nome}"> 
		<label>Sobrenome</label>
		<input name="sobrenome" th:field="*{sobrenome}"> 
		<label>Idade</label> <input	name="idade" th:field="*{idade}"> 
		<br/><br/>
		<button class="btn waves-effect waves-light" type="submit" name="action">Enviar
    <i class="material-icons right">send</i>
  </button>
    
	</form>

	<br/>
	<a href="/listapessoas">Exibir Lista</a>
	<br/>
	<br/>
	<form action="" method="post">
	<label>Pesquisa por nome :</label>
	<input name="nomepesquisa"   >
	<input class="btn waves-effect waves-light" type="submit" value="buscar">

	</form>

	<table class="responsive-table">
		 <thead>
          <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Idade</th>
          </tr>
        </thead>
	
	
		<tr th:each="pessoa: ${pessoas}"> <!--aqui sao criadas as linhas para objeto pessoa atraves de uma lista  -->
			
			<td th:text="${pessoa.id}"></td>
			<td th:text="${pessoa.nome}"></td>
			<td th:text="${pessoa.sobrenome}"></td>
			<td th:text="${pessoa.idade}"></td>
			<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
			<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
		</tr>




	</table>



	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

</body>
</html>