<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"	href="/materialize/css/materialize.min.css" media="screen,projection" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">

<style>


table.striped>tbody>tr:nth-child(odd){background-color:rgba(203,203,203,0.5);
}

form input[type=submit]{

color: white;
}

</style>


<title>Cadastro Pessoa</title>
</head>

<h3>Spring Boot + Thymeleaf + Material Design Lite</h3>
<h5>Cadastro de Pessoas</h5>
<br />


<body>
	<div class="row">
		<form action="salvarpessoa" id="formpessoa" method="post" th:object="${pessoaobj}"
			class="col s12">

			<div class="row">
				<div class="input-field col s6">
					<input name="id" th:field="*{id}" id="id" readonly="readonly"
						hidden="true" class="validate"> <label class="active">Nome</label>
					<input name="nome" th:field="*{nome}" id="nome">
				</div>



				<div class="input-field col s6">
					<label class="active">Sobrenome</label> <input name="sobrenome"
						th:field="*{sobrenome}" id="sobrenome" class="validate">
				</div>
			
</div>

			<div class="row">
				<div class="input-field col s12">

					<label class="active">Idade</label> <input name="idade"
						th:field="*{idade}" id="idade" class="validate">
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">

					<input class="waves-effect waves-light btn" type="submit"
						name="action" value="Salvar">
						
						
					<button class="waves-effect waves-light btn " onclick="document.getElementById('formpessoa').reset();">Novo</button>
					
				</div>
			</div>


		</form>
</div>
		<br />  <br /> <br />


		<div class="row">
			<form action="pesquisarpessoa" method="post" class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<label for="nomepesquisa" class="active">Pesquisa por nome:</label> 
						<input name="nomepesquisa" id="nomepesquisa" class="validate">
						<input class="waves-effect waves-light btn" type="submit"
							value="Buscar">
							<a class="waves-effect waves-light btn" href="/listapessoas">Exibir Lista</a>
					</div>
				</div>


			</form>
		</div>

		<br/><br/>
	<table class="responsive-table striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Idade</th>
			</tr>
		</thead>


		<tr th:each="pessoa: ${pessoas}">
			<!--aqui sao criadas as linhas para objeto pessoa atraves de uma lista  -->

			<td th:text="${pessoa.id}"></td>
			<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text="${pessoa.nome}"></span></a></td>
			<td th:text="${pessoa.sobrenome}"></td>
			<td th:text="${pessoa.idade}"></td>
			<td><a
				th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
			<td><a
				th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
		</tr>




	</table>



	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

</body>
</html>